body{
    background-color: #F4F4F4 
}

.zhuti{
    display: flex;   
}
.right_top{
    display: flex;
}
/*导航区*/
.blog_menu{
    display: flex;
    width: 732px;
    margin-left: 109px;
}
.menu_button{
    margin: 37px 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu_logo{
    width: 70.2px;
    height: 70.2px;
    background: white;
    border-radius: 35.1px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 22px 30px -21px rgba(74, 74, 74, 0.17),
     0px 3px 5px 0px rgba(0, 0, 0, 0.08), 
     inset -8px -25px 73px 9px rgba(218, 218, 218, 0.09);
}
.menu_title{
    margin-top: 14px;
width: 63px;
height: 22px;
color: rgba(74, 144, 226, 1);
font-size: 15.6px;
text-align: left;
font-family: PingFangSC-Regular;
}
.menu_more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 71px;
    margin-left: 22px;
    border-radius: 19px;
    width: 38px;
    height: 38px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -8px 17px 23px -16px rgba(74, 74, 74, 0.17), 
    inset -6px -19px 56px 7px rgba(218, 218, 218, 0.09);
}

.tri{
    width: 0;
    height: 0;
    border-bottom: 12px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-left: 24px;
}
.squ{
width: 114px;
height: 31px;
border-radius: 3px;
background-color: white;
box-shadow: -10px 22px 30px -21px rgba(74, 74, 74, 0.17), inset -8px -25px 73px 9px rgba(218, 218, 218, 0.09);
color: rgba(194, 194, 194, 1);
font-size: 13px;
display: flex;
justify-content: center;
align-items: center;
}
.menu_tip{
    margin-left: 11px;
    display: none;
}
.menu_zidingyi:hover .menu_tip{
    display: block;
}
/*博客文章*/
.blog_article{
    width: 732px;
    height: 983px;
    background: white;
    margin-left: 109px;
    padding-top: 45px;
}
.blog_article_header{
    margin-left: 96px;
    margin-right: 75px;
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.title_name{
width: 156px;
height: 28px;
color: rgba(74, 144, 226, 1);
font-size: 19.5px;
text-align: left;
font-family: PingFangSC-Regular;
}
.article_autor{
width: 35px;
height: 18px;
color: rgba(74, 144, 226, 1);
font-size: 13px;
text-align: left;
font-family: PingFangSC-Regular;
}
.mokuai{
    width: 78px;
    height: 24.7px;
    background: #4A90E2;
    border-radius:12px;
    margin-left: 17px;
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PingFangSC-Regular;
}
.article_mokuai{
    display: flex;
}
.article_picture{
    text-align: center;
    margin-top: 30px;
}
.article_content{
    margin-left: 96px;
    margin-top: 35px;
}
.article_content_1{
width: 576px;
height: 240px;
color: rgba(155, 155, 155, 1);
font-size: 16.9px;
text-align: left;
font-family: PingFangSC-Regular;
}
.article_content_2{
width: 575px;
height: 144px;
color: rgba(155, 155, 155, 1);
font-size: 16.9px;
text-align: left;
font-family: PingFangSC-Regular;
}
.blog_share{
    margin-left: 96px;
    margin-top: 60px;
}
.blog_comment{
    width:735px;
    height: 421px;
    background: white;
    margin-top: 74px;
    margin-left: 107px;
    padding-top: 5px;
}
.comment_detail{
    width: 594px;
    height: 157px;
    border: 1.3px solid rgba(222, 222, 222, 1);
    margin-left: 77px;
}
.comment_name{
color: rgba(74, 144, 226, 1);
font-size: 19.5px;
text-align: left;
font-family: PingFangSC-Regular;
margin-left: 82px;
margin-top: 42px;
}
.comment_content{
color: rgba(155, 155, 155, 1);
font-size: 16.9px;
text-align: left;
font-family: PingFangSC-Regular;
margin-left: 82px;
margin-top: 18px;
}
.comment_deal{
    display: flex;
    margin-left: 417px;
    margin-top: 17px;
}
.deal_1{
color: rgba(74, 144, 226, 1);
font-size: 13px;
text-align: left;
font-family: PingFangSC-Regular;
}
.deal_2{
color: rgba(155, 155, 155, 1);
font-size: 15px;
text-align: left;
font-family: PingFangSC-Regular;
margin-left: 25px;
}
.my_comment{
    width: 731.9px;
    height: 254.8px;  
    background: white;
    margin-top: 50px;
    margin-left: 107px;  
}
.my_comment_shuru{
    width: 731.9px;
    height: 188px;
    border: 0;
    
}
.my_comment_deal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    background-color: rgba(245, 245, 245, 0.44);
    box-shadow: -38px 22px 31px -49px rgba(74, 74, 74, 0.17);
}
.my_comment_charu{
    display: flex;
    margin-left: 24px;
    width: 100px;

}
.my_comment_btn{
    width:159.9px;
    height:100%;
    background: linear-gradient(to right,#1C6ED3,#77EEF4);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-size: 18.2px;
    font-family: PingFangSC-Regular;
}
.right_1{
    width: 455px;
    height: 105px;
    background-color: white;
    margin-bottom: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
    margin-left: 107px;
}
.num{
    margin-left: 50px;
}
.num1{
color: #4A90E2;
font-size: 28.6px;
text-align: left;
font-family: PingFangSC-Semibold;
}
.num2{
color: #4A90E2;
font-size: 15.6px;
text-align: left;
font-family: PingFangSC-Regular;
}
.right_icon{
    margin-right: 32px;
}
.right_2{
    width: 455px;
    height: 452px;
    margin-top: 155px;
    margin-left: 107px;
    background:white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right_2_1{
    margin-top: 96px;
display: flex;
align-items: center;
justify-content: space-between;
margin-left: 201px;
margin-right: 93px;
width: 160px;
height: 33px;
color: rgba(74, 144, 226, 1);
font-size: 23.4px;
text-align: left;
font-family: PingFangSC-Regular;
}
.right_2_2{
    margin-top: 14px;;
text-align: center;
width: 125px;
height: 22px;
color: rgba(155, 155, 155, 1);
font-size: 15.6px;
text-align: left;
font-family: PingFangSC-Regular;
}
.right_2_3{
    margin-top: 9px;
color: rgba(155, 155, 155, 1);
font-size: 15.6px;
text-align: left;
font-family: PingFangSC-Regular;
display: flex;
justify-content: space-between;
margin-left: 111px;
margin-right: 111px;
width: 233px;
}
.right_2_3_1{
    margin-right: 17px;
}
.right_2_4{
    margin-top: 17px;
color: rgba(255, 255, 255, 1);
font-size: 13px;
text-align: left;
font-family: PingFangSC-Regular;
display: flex;

}
.right_2_4_1{
    margin-right: 17px;
width: 52px;
height: 24.7px;
border-radius: 12px;
background-color: rgba(74, 144, 226, 1);
color: rgba(255, 255, 255, 1);
font-size: 13px;
display: flex;
justify-content: center;
align-items: center;
font-family: PingFangSC-Regular;
}
.right_2_5{
    margin-top: 24px;
    width: 250px;
    height: 44px;
    
    color: rgba(155, 155, 155, 1);
    font-size: 15.6px;
    text-align: left;
    font-family: PingFangSC-Regular;   
}
.right_2_6{
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.right_3{
    width: 455px;
    height: 220px;
    margin-left: 107px;
    margin-top: 55px;
    background: linear-gradient(to right,#1C6ED3,#77EEF4);
color: rgba(255, 255, 255, 0.947067481884058);
font-size: 46.8px;
text-align: left;
font-family: PingFangSC-Regular;
display: flex;
justify-content: center;
align-items: center;

}
.right_4{
    overflow: hidden;
    width: 454px;
    height: 631px;
    background: white;
    margin-top: 64px;
    margin-left: 106px;
    color: rgba(155, 155, 155, 1);
    font-size: 19.5px;
    font-family: PingFangSC-Regular;
}
.right_4_1{
    width: 156px;
    height: 28px;
    margin-top: 59px;
    margin-left: 45px;
    margin-bottom: 41px;
}
.right_4_2{
    margin-left: 67px;
    margin-bottom: 36px;
}
.right_4_2_1{
    display: inline-block;
    width: 78px;
    height: 28px;
    margin-right: 44px;
}
.right_4_2_2{
    margin-right: 15px;
}
.sekuai{
    margin-top: 48px;
    width: 1543px;
    height: 255px;
    background: linear-gradient(to right,#1C6ED3,#77EEF4);
    box-shadow: 0px 3px 23px 5px rgba(116, 114, 114, 0.28);
}