
@font-face {
    font-family: 'PingFang SC Regular';
    src: url('../fonts/PingFang SC Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PingFang SC Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('../fonts/PingFang SC Regular.woff') format('woff'), /* Modern Browsers */
             url('../fonts/PingFang SC Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/PingFang SC Regular.svg#PingFang SC Regular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'SourceHanSerifSC-Bold';
    src: url('../fonts/SourceHanSerifSC-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SourceHanSerifSC-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('../fonts/SourceHanSerifSC-Bold.woff') format('woff'), /* Modern Browsers */
             url('../fonts/SourceHanSerifSC-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/SourceHanSerifSC-Bold.svg#SourceHanSerifSC-Bold') format('svg'); /* Legacy iOS */
   }

   @font-face {
    font-family: 'SourceHanSerifSC-ExtraLight';
    src: url('../fonts/SourceHanSerifSC-ExtraLight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SourceHanSerifSC-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('../fonts/SourceHanSerifSC-ExtraLight.woff') format('woff'), /* Modern Browsers */
             url('../fonts/SourceHanSerifSC-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/SourceHanSerifSC-ExtraLight.svg#SourceHanSerifSC-ExtraLight') format('svg'); /* Legacy iOS */
   }

   @font-face {
    font-family: 'SourceHanSerifSC-Heavy';
    src: url('../fonts/SourceHanSerifSC-Heavy.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SourceHanSerifSC-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('../fonts/SourceHanSerifSC-Heavy.woff') format('woff'), /* Modern Browsers */
             url('../fonts/SourceHanSerifSC-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/SourceHanSerifSC-Heavy.svg#SourceHanSerifSC-Heavy') format('svg'); /* Legacy iOS */
   }

   @font-face {
    font-family: 'SourceHanSerifSC-Light';
    src: url('../fonts/SourceHanSerifSC-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SourceHanSerifSC-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('../fonts/SourceHanSerifSC-Light.woff') format('woff'), /* Modern Browsers */
             url('../fonts/SourceHanSerifSC-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/SourceHanSerifSC-Light.svg#SourceHanSerifSC-Light') format('svg'); /* Legacy iOS */
   }

   @font-face {
    font-family: 'SourceHanSerifSC-Medium';
    src: url('../fonts/SourceHanSerifSC-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SourceHanSerifSC-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('../fonts/SourceHanSerifSC-Medium.woff') format('woff'), /* Modern Browsers */
             url('../fonts/SourceHanSerifSC-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/SourceHanSerifSC-Medium.svg#SourceHanSerifSC-Medium') format('svg'); /* Legacy iOS */
   }

   @font-face {
    font-family: 'SourceHanSerifSC-Regular';
    src: url('../fonts/SourceHanSerifSC-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SourceHanSerifSC-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('../fonts/SourceHanSerifSC-Regular.woff') format('woff'), /* Modern Browsers */
             url('../fonts/SourceHanSerifSC-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/SourceHanSerifSC-Regular.svg#SourceHanSerifSC-Regular') format('svg'); /* Legacy iOS */
   }

   @font-face {
    font-family: 'SourceHanSerifSC-SemiBold';
    src: url('../fonts/SourceHanSerifSC-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SourceHanSerifSC-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('../fonts/SourceHanSerifSC-SemiBold.woff') format('woff'), /* Modern Browsers */
             url('../fonts/SourceHanSerifSC-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/SourceHanSerifSC-SemiBold.svg#SourceHanSerifSC-SemiBold') format('svg'); /* Legacy iOS */
   }
   @font-face {
    font-family: 'SourceHanSansCN-Regular';
    src: url('../fonts/SourceHanSansCN-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SourceHanSansCN-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('../fonts/SourceHanSansCN-Regular.woff') format('woff'), /* Modern Browsers */
             url('../fonts/SourceHanSansCN-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../fonts/SourceHanSansCN-Regular.svg#SourceHanSansCN-Regular') format('svg'); /* Legacy iOS */
   }
  