.left{
    width: 376px;
    height: 2267px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.left_menu_1{
    margin-top: 60px;
    width: 217.1px;
    height: 40.3px;
    color: rgba(155, 155, 155, 1);
    font-size: 18.2px;
    text-align: left;
    font-family: PingFangSC-Regular;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.left_menu_1:hover{
    background: linear-gradient(to right,#1C6ED3,#77EEF4);
    color: white;
    cursor:pointer;
}
.left_menu_1_1{
    margin-right: 30px;
}
.line1{
    width: 209px;
    height: 1.3px;
    margin-top: 85px;
}
.left_setting{
    
    color: rgba(155, 155, 155, 1);
    font-size: 15.6px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
.left_setting_1{
    margin-top: 40px;
}
.line2{
    width: 209px;
    height: 1.3px;
    margin-top: 40px;
    margin-bottom: 55px;
}
.left_lv{
    width: 210px;
    color: rgba(155, 155, 155, 1);
    font-size: 18.2px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
.left_lv_1{
    display: flex;
    justify-content: space-between;
}
.line3{
    width: 209px;
    height: 7px;
    border-radius: 5px;
    background-color: #E0F9FE;
    margin-top: 16px;
}
.line4{
    width: 114px;
    height: 7px;
    border-radius: 5px;
    background: linear-gradient(to right,#1C6ED3,#77EEF4);

}
