body{
    background-color: #F4F4F4 
}

.zhuti{
    display: flex;   
}
.right_top{
    display: flex;
}
.sekuai{
    margin-top: 48px;
    width: 1543px;
    height: 255px;
    background: linear-gradient(to right,#1C6ED3,#77EEF4);
    box-shadow: 0px 3px 23px 5px rgba(116, 114, 114, 0.28);
}
.personal_top{
    overflow: hidden;
    margin-left: 43px;
    margin-top: 32px;
width: 955px;
height: 1892px;
border-radius: 5px;
background-color: rgba(255, 255, 255, 1);
box-shadow: -8px 17px 23px -16px rgba(74, 74, 74, 0.17), inset -6px -19px 56px 7px rgba(218, 218, 218, 0.09);
}
h2{
    width: 88px;
    height: 30px;
    color: rgba(74, 144, 226, 1);
    font-size: 22px;
    text-align: left;
    font-family: PingFangSC-Semibold;
    margin-left: 66px;
    margin-top: 36px;
}
.personal_menu{
    margin-left: 83px;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 18px;
    margin-right: 38px;
}
.personal_page{
    margin-left: 98px;
    height: 1646px;
    overflow: hidden;
    border-left: 2px solid #DEDEDE;
}
.menu_choice{
    margin-right: 17px;
color: rgba(155, 155, 155, 1);
font-size: 16.9px;
text-align: left;
font-family: PingFangSC-Regular;
}
.choosed{
color: rgba(74, 144, 226, 1);
font-size: 18.9px;
text-align: left;
font-weight: bold;
font-family: PingFangSC-Semibold;
}
.personal_info{
    width: 819px;
    height: 230px;
    display: flex;
    border-bottom: 2px solid #DEDEDE;
}
.info_header{
    margin-left: 58px;
    margin-top: 56px;
}
.info_detail{
    margin-left: 38px;
    margin-top: 56px;
}
span{
    display: inline-block;

}
.info_name{
color: rgba(74, 144, 226, 1);
font-size: 21.4px;
text-align: left;
font-family: PingFangSC-Regular;
}
.info_tips{
width: 135px;
height: 22px;
border-radius: 11px;
box-shadow: 0px 3px 8px -4px rgba(116, 114, 114, 0.28);
border: 1.3px solid rgba(74, 144, 226, 1);
color: rgba(74, 144, 226, 1);
font-size: 13px;
line-height: 22px;
text-align: center;
font-family: PingFangSC-Regular;
margin-left: 21px;
}
.info_change{
    color: rgba(155, 155, 155, 1);
    font-size: 15.6px;
    text-align: left;
    font-family: PingFangSC-Regular; 
    margin-left: 299px;
}
.info_line_2{
    border: 0;
width: 576px;
height: 14px;
border-radius: 10px;
background-color: rgba(224, 249, 254, 1);
}
.info_jy{
    border: 0;
width: 228px;
height: 14px;
border-radius: 10px;
background: linear-gradient(to right,#1C6ED3,#77EEF4);
margin-top: 14px;
}
.info_line_3{
    height: 22px;
    margin-top: 16px;
color: rgba(155, 155, 155, 1);
font-size: 13px;
text-align: left;
font-family: PingFangSC-Regular;
display: flex;
align-items: center;
}
.line_3_1{
display: flex;
justify-content: center;
align-items: center;
}
.line_3_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
}
.line_3_3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 270px;
}
.personal_achieve{
    width:819px;
    height: 1412px;
}
.achieve_menu{
    margin-left: 62px;
    margin-top: 43px;
}
.achieve_menu_1{
    color: rgba(74, 144, 226, 1);
    font-size: 18.9px;
    text-align: left;
    font-weight: bold;
    font-family: PingFangSC-Semibold;    
}
.achieve_menu_2{
    margin-left: 46px;
color: rgba(74, 144, 226, 1);
font-size: 16px;
text-align: left;
font-family: PingFangSC-Regular;
}
.achieve_menu_3{
    margin-left: 29px;
    color: rgba(155, 155, 155, 1);
    font-size: 16px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
.achieve_menu_4{
    margin-left: 297px;
    color: rgba(155, 155, 155, 1);
    font-size: 16px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
.achieve_honor{
    display: flex;
}
.honor_1_1{
    width: 87px;
    height: 87px;
    border-radius: 43.5px;;
    background: #77EEF4 ;
    margin-left: 54px;
    margin-top: 68px;
}
.honor_1_2{
    width: 135px;
    height: 22px;
    border-radius: 11px;
    box-shadow: 0px 3px 8px -4px rgba(116, 114, 114, 0.28);
    border: 1.3px solid rgba(74, 144, 226, 1);
    color: rgba(74, 144, 226, 1);
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    font-family: PingFangSC-Regular;
    margin-left: 30px;
    margin-top: 21px;
}
.honor_2{
    margin-top: 70px;
    margin-left: 13px;
}
.honor_2_1{
    color: rgba(74, 144, 226, 1);
    font-size: 21.4px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
.honor_2_2{
    color: rgba(155, 155, 155, 1);
    font-size: 16.9px;
    text-align: left;
    font-family: PingFangSC-Regular;
    margin-top: 7px;
    display: flex;
    align-items: center;
}
.honor_2_2_2{
    width: 306px;
    height: 7px;
    border-radius: 10px;
    background-color: rgba(224, 249, 254, 1);
    margin-left: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pic{
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background: #77EEF4 ;
}