body{
    background-color: #F4F4F4 
}

.zhuti{
    display: flex;   
}
.right_top{
    display: flex;
}
.sekuai{
    margin-top: 800px;
    width: 1543px;
    height: 255px;
    background: linear-gradient(to right,#1C6ED3,#77EEF4);
    box-shadow: 0px 3px 23px 5px rgba(116, 114, 114, 0.28);
}
.personal_top{
    overflow: hidden;
    margin-left: 43px;
    margin-top: 32px;
width: 955px;
height: 1182px;
border-radius: 5px;
background-color: rgba(255, 255, 255, 1);
box-shadow: -8px 17px 23px -16px rgba(74, 74, 74, 0.17), inset -6px -19px 56px 7px rgba(218, 218, 218, 0.09);
}
h2{
    width: 88px;
    height: 30px;
    color: rgba(74, 144, 226, 1);
    font-size: 22px;
    text-align: left;
    font-family: PingFangSC-Semibold;
    margin-left: 66px;
    margin-top: 36px;
}
.personal_menu{
    margin-left: 83px;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 18px;
    margin-right: 38px;
}
.personal_page{
    margin-left: 98px;
    height: 885px;
    overflow: hidden;
    border-left: 1px solid #DEDEDE;
}
.menu_choice{
    margin-right: 17px;
color: rgba(155, 155, 155, 1);
font-size: 16.9px;
text-align: left;
font-family: PingFangSC-Regular;
}
.choosed{
color: rgba(74, 144, 226, 1);
font-size: 18.9px;
text-align: left;
font-weight: bold;
font-family: PingFangSC-Semibold;
}
.personal_header{
    margin-left: 92px;
    margin-top: 48px;
    display: flex;
}
.header_change{
   
}
.change_1{
    display: flex;
    align-items: flex-end;
}
.change_1_1{
    width: 117px;
    height: 117px;
    border-radius: 5px;
    background-color: rgba(216, 216, 216, 0.37);
    border: 1px solid rgba(222, 222, 222, 1);
}
.change_1_2{
    margin-left: 32px;
    width: 86px;
    height: 86px;
    border-radius: 5px;
    background-color: rgba(216, 216, 216, 0.37);
    border: 1px solid rgba(222, 222, 222, 1);    
}
.change_1_3{
    margin-left: 32px;
    width: 58px;
    height: 58px;
    border-radius: 5px;
    background-color: rgba(216, 216, 216, 0.37);
    border: 1px solid rgba(222, 222, 222, 1);
}
.change_2{
    margin-left: 25px;
    margin-top: 29px;
    color: rgba(74, 144, 226, 1);
    font-size: 16.9px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
.header_now{
    margin-left: 93px;
}
.now_1{
    width: 117px;
    height: 117px;
    background:#DEDEDE;
    border-radius: 58.5px;
    
}
.now_2{
    color: rgba(155, 155, 155, 1);
    font-size: 16.9px;
    text-align: left;
    font-family: PingFangSC-Regular;
    margin-top: 29px;
    margin-left: 25px;
}

#change_name{
    width: 222px;
    height: 30px;
    border-radius: 5px;
    box-shadow: undefined, inset 0px 1px 3px 0px rgba(0, 0, 0, 0.29);
    border: 1px solid rgba(224, 224, 224, 1);
}
#my_sex{
    width: 14px;
    height: 14px;
    background-color: rgba(25, 137, 250, 1);
}
#birthday{
    width: 224px;
    height: 30px;
    border-radius: 5px;
    box-shadow: undefined, inset 0px 1px 3px 0px rgba(0, 0, 0, 0.29);
    border: 1px solid rgba(224, 224, 224, 1);
    
    line-height: 14px;
    color: rgba(144, 147, 153, 1);
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
#invest_age{
    width: 224px;
    height: 30px;
    border-radius: 5px;
    box-shadow: undefined, inset 0px 1px 3px 0px rgba(0, 0, 0, 0.29);
    border: 1px solid rgba(224, 224, 224, 1);
    line-height: 14px;
    color: rgba(144, 147, 153, 1);
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
#my_job{
    width: 222px;
    height: 30px;
    border-radius: 5px;
    box-shadow: undefined, inset 0px 1px 3px 0px rgba(0, 0, 0, 0.29);
    border: 1px solid rgba(224, 224, 224, 1);
}
#province{
    width: 134px;
    height: 30px;
    border-radius: 5px;
    box-shadow: undefined, inset 0px 1px 3px 0px rgba(0, 0, 0, 0.29);
    border: 1px solid rgba(224, 224, 224, 1);
    line-height: 14px;
    color: rgba(144, 147, 153, 1);
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
#city{
    width: 134px;
    height: 30px;
    border-radius: 5px;
    box-shadow: undefined, inset 0px 1px 3px 0px rgba(0, 0, 0, 0.29);
    border: 1px solid rgba(224, 224, 224, 1);
    line-height: 14px;
    color: rgba(144, 147, 153, 1);
    font-size: 14px;
    text-align: left;
    font-family: PingFangSC-Regular;
    margin-left: 20px;
}
#underwrite{
    left: 699px;
    top: 887px;
    width: 540px;
    height: 149px;
    border-radius: 5px;
    box-shadow: undefined, inset 0px 1px 3px 0px rgba(0, 0, 0, 0.29);
    border: 1px solid rgba(224, 224, 224, 1);
}
.change_info{
    
    color: rgba(155, 155, 155, 1);
    font-size: 15.9px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
.change_info_1{
    display: flex;
    margin-top: 28px;
    margin-left: 83px;
    align-items: center;
}
.change_info_2{
    width: 80px;
    height: 22px;
    color: rgba(155, 155, 155, 1);
    font-size: 15.9px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
.change_info_3{
margin-left: 17px;
}
.sqrz{
    width: 79px;
    height: 22px;
    color: rgba(74, 144, 226, 1);
    font-size: 15.9px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
.tj_btn{
    margin-left: 64px;
    width: 853px;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(222, 222, 222, 1);
}
.tj_btn_1{
    width: 133.9px;
    height: 47.5px;
    border-radius: 23px;
    background: linear-gradient(to right,#1C6ED3,#77EEF4);
    box-shadow: 0px 3px 23px -4px rgba(116, 114, 114, 0.28);
    color: rgba(255, 255, 255, 1);
    font-size: 18.2px;
    text-align: center;
    line-height: 47.5px;
    font-family: PingFangSC-Regular;
    margin-top: 38px;
}
/*
input{
border-radius: 5px;
box-shadow: undefined, inset 0px 1px 3px 0px rgba(0, 0, 0, 0.29);
border: 1px solid rgba(224, 224, 224, 1);
}
*/