body{
    background-color: #F4F4F4 
}

.zhuti{
    display: flex;   
}
.right_top{
    display: flex;
}
.sekuai{
    margin-top: 48px;
    width: 1543px;
    height: 255px;
    background: linear-gradient(to right,#1C6ED3,#77EEF4);
    box-shadow: 0px 3px 23px 5px rgba(116, 114, 114, 0.28);
}
.middle{

}
.replay_plan{
    overflow: hidden;
margin-left: 47px;
margin-top: 32px;
width: 954px;
height: 366px;
border-radius: 5px;
background-color: rgba(255, 255, 255, 1);
box-shadow: -8px 17px 23px -16px rgba(74, 74, 74, 0.17), inset -6px -19px 56px 7px rgba(218, 218, 218, 0.09);
}
.plan_title{
    margin-left: 36px;
    margin-right: 58px;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}
.title_name{
    
width: 88px;
height: 30px;
color: rgba(74, 144, 226, 1);
font-size: 22px;
text-align: left;
font-family: PingFangSC-Semibold;
}
.title_time{

width: 96px;
height: 24px;
color: rgba(155, 155, 155, 1);
font-size: 16.9px;
text-align: left;
font-family: PingFangSC-Semibold;
}

.plan_content{
    margin-left: 64px;
    margin-top: 42px;
}
.plan_detail{
    left: 487px;
    top: 369px;
    width: 693px;
    height: 24px;
    color: rgba(155, 155, 155, 1);
    font-size: 16.9px;
    text-align: left;
    font-family: PingFangSC-Semibold;
    margin-top: 19px;
}
.replay_notes{
    overflow: hidden;
margin-left: 47px;
margin-top: 35px;
width: 954px;
height: 1315px;
border-radius: 5px;
background-color: rgba(255, 255, 255, 1);
box-shadow: -8px 17px 23px -16px rgba(74, 74, 74, 0.17), inset -6px -19px 56px 7px rgba(218, 218, 218, 0.09);
}
.notes_title{
    margin-left: 47px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    margin-right: 83px;
}
.notes_choose{
width: 218px;
height: 38px;
border-radius: 5px;
border: 1px solid rgba(151, 151, 151, 1);

color: rgba(155, 155, 155, 1);
font-size: 15px;
text-align: left;
font-family: PingFangSC-Semibold;
}
.notes_pic{
    margin-left: 43px;
    margin-top: 44px  ;
}
.notes_picture{
   
width: 873px;
height: 445px;
}
.notes_detail{
    margin-left: 61px;
    margin-top: 56px;
}
.note_1_title{
display: flex;
align-items: center;
height: 21px;
color: rgba(155, 155, 155, 1);
font-size: 15px;
text-align: left;
font-family: PingFangSC-Semibold;
}
.note_1_title_1{
    margin-left: 24px;
}
.note_1_num{
    margin-top: 12px;
    margin-left: 55px;
}
.note_1_num_1{
width: 31px;
height: 21px;
color: rgba(249, 46, 83, 0.947067481884058);
font-size: 15px;
text-align: left;
font-family: PingFangSC-Semibold;
}
.note_1_num_2{
    margin-left: 12px;
    width: 71px;
    height: 16px;
    color: rgba(249, 46, 83, 0.947067481884058);
    font-size: 11px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
.note_content{
    margin-top: 14px;
    margin-left: 55px;
width: 600px;
height: 42px;
color: rgba(155, 155, 155, 1);
font-size: 15px;
text-align: left;
font-family: PingFangSC-Regular;
}
.note_detail{
    margin-left: 29px;
}
.note_2{
    margin-top: 36px;
    display: flex;
    align-items: center;
height: 21px;
color: rgba(155, 155, 155, 1);
font-size: 15px;
text-align: left;
font-family: PingFangSC-Regular;
}
.note_2_time{
    margin-left: 20px;
}
.note_2_content{
    margin-left: 35px;
}
/*分享二维码*/
.replay_share{
    margin-left: 47px;
    margin-top: 20px;
    width: 954px;
    height: 206px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: -8px 17px 23px -16px rgba(74, 74, 74, 0.17), inset -6px -19px 56px 7px rgba(218, 218, 218, 0.09);
}
.share_1{
    margin-left: 43px;
}
.share_2{
   
width: 248px;
height: 64px;
color: rgba(74, 144, 226, 1);
font-size: 22.5px;
text-align: left;
font-family: PingFangSC-Semibold;
}
/*走势图*/
.right_1{
    width: 455px;
    height: 105px;
    background-color: white;
    margin-bottom: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
    margin-left: 39px;
}
.num{
    margin-left: 50px;
}
.num1{
color: #F92E53 ;
font-size: 28.6px;
text-align: left;
font-family: PingFangSC-Semibold;
}
.num2{
color: #F92E53;
font-size: 15.6px;
text-align: left;
font-family: PingFangSC-Regular;
}
.right_icon{
    margin-right: 32px;
}
/*昨日盘后观察*/
.right_2{
    overflow: hidden;
margin-top: 28px;
margin-left: 39px;
width: 455px;
height: 1733px;
border-radius: 5px;
background-color: rgba(255, 255, 255, 1);
box-shadow: -8px 17px 23px -16px rgba(74, 74, 74, 0.17), inset -6px -19px 56px 7px rgba(218, 218, 218, 0.09);
}
.right_2_1{
    margin-left: 27px;
    color: rgba(155, 155, 155, 1);
    font-size: 16.9px;
    text-align: left;
    font-family: PingFangSC-Regular;
}
h2{
    margin-left: 27px;
    margin-top: 28px;
    width: 132px;
    height: 30px;
    color: rgba(74, 144, 226, 1);
    font-size: 22px;
    text-align: left;
    font-family: PingFangSC-Semibold;
}
h3{
    margin-left: 27px;
    width: 85px;
    height: 24px;
    color: rgba(74, 144, 226, 1);
    font-size: 16.9px;
    text-align: left;
    font-family: PingFangSC-Semibold;
}
h4{
    width: 220px;
    height: 24px;
    color: rgba(74, 144, 226, 1);
    font-size: 16.9px;
    text-align: left;
    font-family: PingFangSC-Regular;
    margin-left: 27px;
}
hr{
    width: 367px;
    height: 1px;
    border: 1.3px solid rgba(222, 222, 222, 1);
    margin-top: 31px;
    margin-bottom: 26px;
}